//

$page-padding: 0 10%;

$hor-page-padding: 10%;

$primaryColor: black;
$primaryLight: lighten(black, 50);

$secondary: teal;

$box-shadow: 0 0 10px rgba(black, 0.1);

$secondaryColor: darkslateblue;
$thirdColor: crimson;
$dangerColor: crimson;

$inputColor: #f2f2f2;
