%prod-partial {
	flex: 1;
	align-items: flex-start;
	width: 100%;
	flex-direction: column;

	@include desktop {
		flex-direction: row;
		padding-top: 20vh;
		margin: 0 10%;
		width: 70%;
		box-shadow: 0 0 10px rgba(black, 0.1);
	}
}

%checkout-page-main {
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	padding: 2% 0;

	@include tab {
		flex-direction: row;
	}
	@include desktop {
		padding: 2% 10%;
	}
}

%checkout-page-containers {
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: white;
	border-radius: 5px;
	border-radius: 5px;
	margin: 0;
	padding: 5%;
	margin: 2% 0;

	@include tab {
		align-self: flex-start;
		margin: 0 2%;
		padding: 3%;
	}
}
