/* Margin */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 3rem;
}

.mx-5 {
  margin: 0 4rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.px-3 {
  padding: 0 2rem;
}

.px-4 {
  padding: 0 3rem;
}

.px-5 {
  padding: 0 4rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.ppContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  padding: 2% 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 640px) {
  .ppContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1008px) {
  .ppContainer {
    padding: 2% 10%;
  }
}

.ppContainer .orderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 0;
  margin: 0;
  padding: 5%;
  margin: 2% 0;
}

@media (min-width: 640px) {
  .ppContainer .orderContainer {
    border-radius: 5px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 2%;
    padding: 3%;
  }
}

.ppContainer {
  padding-top: 12vh;
}

@media (min-width: 640px) {
  .ppContainer {
    padding-top: 15vh;
  }
}

.ppContainer .orderContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  flex: 1;
}

.ppContainer .orderContainer hr {
  border: 1px solid whitesmoke;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.ppContainer .orderContainer h3 {
  margin: 0 0.25em;
  margin-bottom: 1em;
  font-family: Montserrat;
}

.ppContainer .orderContainer .noOrders {
  font-family: Montserrat;
  text-align: center;
  margin: 2.5em auto 1em auto;
}

.ppContainer .orderContainer .orderCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ppContainer .orderContainer .orderCard h4, .ppContainer .orderContainer .orderCard p, .ppContainer .orderContainer .orderCard a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1em 0.5em;
  font-size: 0.7em;
}

@media (min-width: 640px) {
  .ppContainer .orderContainer .orderCard h4, .ppContainer .orderContainer .orderCard p, .ppContainer .orderContainer .orderCard a {
    font-size: 0.8em;
  }
}

@media (min-width: 1008px) {
  .ppContainer .orderContainer .orderCard h4, .ppContainer .orderContainer .orderCard p, .ppContainer .orderContainer .orderCard a {
    font-size: 0.85em;
  }
  .ppContainer .orderContainer .orderCard h4 .date, .ppContainer .orderContainer .orderCard p .date, .ppContainer .orderContainer .orderCard a .date {
    font-size: 0.7em;
  }
}

.ppContainer .orderContainer .orderCard h4 {
  color: #999999;
  margin: 0.25em 0.5em;
}

.ppContainer .orderContainer .orderCard p {
  color: #666666;
}

.ppContainer .orderContainer .orderCard .details {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.ppContainer .orderContainer .orderCard a {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  color: dodgerblue;
  cursor: pointer;
}

@media (min-width: 1008px) {
  .ppContainer .orderContainer .orderCard a:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}

.singleCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em 0;
}

.singleCard h4, .singleCard p {
  font-size: 0.8em;
}

@media (min-width: 640px) {
  .singleCard h4, .singleCard p {
    font-size: 0.85em;
  }
}

@media (min-width: 1008px) {
  .singleCard h4, .singleCard p {
    font-size: 0.9em;
  }
}

.singleCard h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.5em;
}

.singleCard p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 1em 0 0;
}

@media (min-width: 640px) {
  .singleCard p {
    margin: 0 1em;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (min-width: 640px) {
  .submit {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=PastOrders.module.css.map */