@import '../../../styles/imports';
@import '../../../node_modules/sass-google-fonts/src/GoogleFonts.scss';

@mixin core-buttons($color: crimson) {
	@include btn-text-unselect;
	display: inline-flex;
	white-space: nowrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	border-radius: 500px;
	background-color: $color;
	color: white;
	letter-spacing: 1px;
	@include desktop {
		padding: 1em;
		&:hover {
			background-color: darken($color, 5);
		}
	}
	&:active {
		background-color: lighten($color, 40);
	}
}

.buttonOne {
	@include core-buttons;
	width: 150px;
	height: 38px;
}

.longButton {
	@include core-buttons;
	padding: 1em 2em;
}

.buttonPrimary {
	@include core-buttons($secondaryColor);
	padding: 1em 2em;
	min-width: 150px;
}

.rounded {
	border-radius: 5px;
}

.submit {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	@include tab {
		align-items: flex-start;
	}
}
.textButton {
	@include btn-text-unselect;
	color: dodgerblue;
	cursor: pointer;
	@include desktop {
		&:hover {
			text-decoration-line: underline;
		}
	}
}

.submitButton {
	width: 100%;

	input {
		display: inline-block;
		background-color: $secondaryColor;
		color: white;
		border: none;
		cursor: pointer;
		padding: 14px 30px;
		font-size: 0.9em;
		border-radius: 4px;
		letter-spacing: 1px;
		margin: 0;
		width: 100%;
		@include tab {
			width: 140px;
		}

		@include desktop {
			&:hover {
				background-color: darken($secondaryColor, 10);
			}
		}

		&:active {
			background-color: lighten($secondaryColor, 40);
		}
	}
}
