/* Margin */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 3rem;
}

.mx-5 {
  margin: 0 4rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.px-3 {
  padding: 0 2rem;
}

.px-4 {
  padding: 0 3rem;
}

.px-5 {
  padding: 0 4rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.productPage {
  margin-top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media (min-width: 640px) {
  .productPage {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0.5em;
  }
}

@media (min-width: 1008px) {
  .productPage {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 20vh;
    margin: 0 10%;
    width: 70%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em;
  }
}

.productPage .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.productPage .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0;
  padding-top: 4em;
  width: 100%;
}

@media (min-width: 640px) {
  .productPage .details {
    padding: 0 10%;
  }
}

@media (min-width: 1008px) {
  .productPage .details {
    padding: 1em 5em;
  }
}

.productPage .details .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 2em;
}

.productPage .details .review .icon {
  color: #d5d5d5;
  height: 18px;
  margin-right: 2px;
}

.productPage .details .review p {
  margin: 0 0.5em;
  font-family: Montserrat;
}

.productPage .details h2 {
  font-family: Montserrat;
  margin-bottom: 0.5em;
}

.productPage .details p {
  margin-bottom: 0.5em;
}

.productPage .details h3 {
  margin: 0.5em 0;
  font-size: 1.5em;
  color: darkslateblue;
  font-family: Montserrat;
}

.productPage .details .inStock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  color: teal;
}

.productPage .details .inStock p {
  font-family: Montserrat;
  margin: 0 0.5em;
  font-size: 0.9em;
}

.productPage .details .inStock .icon {
  color: inherit;
  height: 15px;
}

.productPage .details .qty {
  border-radius: 500px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
}

.productPage .details .qty a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0;
  border: 1px solid crimson;
  background-color: crimson;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
}

@media (min-width: 1008px) {
  .productPage .details .qty a:hover {
    border: 1px solid #ad102f;
    background-color: #ad102f;
  }
}

.productPage .details .qty a:active {
  border: 1px solid #f594a7;
  background-color: #fac3ce;
}

.productPage .details .qty p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.75em;
  text-align: center;
}

.productPage .details .qty .left {
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}

.productPage .details .qty .right {
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}

.productPage .details a {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: crimson;
  color: white;
  width: 150px;
  height: 38px;
  border-radius: 500px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (min-width: 1008px) {
  .productPage .details a {
    padding: 1em;
  }
  .productPage .details a:hover {
    background-color: #c51236;
  }
}

.productPage .details a:active {
  background-color: #fac3ce;
}
/*# sourceMappingURL=Prod.module.css.map */