@import '../../../../styles/imports';
@import '../../../../node_modules/sass-google-fonts/src/GoogleFonts.scss';

.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	width: 100%;

	label {
		font-family: Montserrat;
		font-size: 0.8em;
		margin-bottom: 0.3em;
	}
	input {
		height: 45px;
		width: 100%;
		border: none;
		padding: 1em 1em;
		border-radius: 4px;
		background-color: #f2f2f2;
		border: 2px solid transparent;
		outline: none;

		&:focus {
			border: 2px solid $secondaryColor;
			outline: none;
		}
	}
}

.submitButton {
	width: 100%;

	input {
		display: inline-block;
		background-color: $secondaryColor;
		color: white;
		border: none;
		cursor: pointer;
		padding: 14px 30px;
		font-size: 0.9em;
		border-radius: 4px;
		letter-spacing: 1px;
		margin: 0;
		width: 100%;
		@include tab {
			width: 140px;
		}

		@include desktop {
			&:hover {
				background-color: darken($secondaryColor, 10);
			}
		}

		&:active {
			background-color: lighten($secondaryColor, 40);
		}
	}
}
