@import '../../../../styles/imports';
@import '../../../../node_modules/sass-google-fonts/src/GoogleFonts.scss';

$inputHeight: 45px;
$inputBorderRadius: 4px;

%inputPartial {
	input {
		height: $inputHeight;
		width: 100%;
		border: none;
		padding: 1em 1em;
		border-radius: $inputBorderRadius;
		background-color: #f2f2f2;
		border: 2px solid transparent;
		outline: none;

		&:focus {
			border: 2px solid $secondaryColor;
			outline: none;
		}
	}
}

.inputContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	width: 100%;

	label {
		font-family: Montserrat;
		font-size: 0.8em;
		margin-bottom: 0.3em;
	}
	@extend %inputPartial;
}

.submitButton {
	width: 100%;

	input {
		display: inline-block;
		background-color: $secondaryColor;
		color: white;
		border: none;
		cursor: pointer;
		padding: 14px 30px;
		font-size: 0.9em;
		border-radius: 4px;
		letter-spacing: 1px;
		margin: 0;
		width: 100%;
		@include tab {
			width: 140px;
		}

		@include desktop {
			&:hover {
				background-color: darken($secondaryColor, 10);
			}
		}

		&:active {
			background-color: lighten($secondaryColor, 40);
		}
	}
}

.searchInput {
	@extend %inputPartial;
	@include flexCenter;
	padding-bottom: 0;
	width: 100%;
	border: 1px solid rgba($secondaryColor, 0.2);
	border-radius: $inputBorderRadius;

	@include tab {
		width: 80%;
	}
	input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.btnContainer {
		@include btn-text-unselect;
		background-color: $secondaryColor;
		@include flexCenter;
		height: $inputHeight;
		width: $inputHeight;
		color: whitesmoke;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		cursor: pointer;
		&:hover {
			@include desktop {
				background-color: darken($secondaryColor, 10);
			}
		}
		&:active {
			background-color: lighten($secondaryColor, 20);
			box-shadow: 5px 5px 5px rgba($secondaryColor, 1) inset;
		}
	}
}
