@import '../../../styles/imports';

%gen {
	padding: 0 0.2em;
}
%head-gen {
	font-family: Montserrat;
	text-transform: uppercase;
}

.shippingPage {
	@extend %checkout-page-main;
	.formContainer {
		@extend %checkout-page-containers;
		@include tab {
			margin-left: 4%;
			padding: 3% 5%;
		}

		h2 {
			font-family: Montserrat;
		}
		.form {
			display: flex;
			flex-direction: column;
			margin: 5% 0;
			.error {
				display: flex;
				background-color: rgba(crimson, 0.05);
				padding: 0.5em 2em;
				margin: -1em 0 0.5em 0;
				border-radius: 5px;
				text-align: center;
				justify-content: center;

				@include tab {
					justify-content: flex-start;

					margin: -1em auto 0.5em 0;
					text-align: left;
				}

				p {
					font-size: 0.7em;
					font-weight: 6500;
					color: crimson;
					white-space: nowrap;
					margin: 0;
				}
			}
			.submit {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				@include tab {
					align-items: flex-end;
				}
			}
		}
	}
}

.summary {
	@extend %checkout-page-containers;
	@include tab {
		margin-right: 4%;
		max-width: 400px;
	}

	span {
		width: 100%;
		border: 1px solid rgba(black, 0.2);
		margin: 0.5em 0;
	}
	.summaryHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h3 {
			font-family: Montserrat;
			@extend %gen;
		}
		.totalItems {
			background-color: teal;
			color: white;
			font-family: Montserrat;
			letter-spacing: 1px;
			padding: 0.25em 0.5em;
			border-radius: 4px;
			font-size: 0.8em;
			@extend %gen;
		}
	}
	.card {
		display: flex;
		justify-content: space-between;
		align-items: center;

		//items
		h4 {
			@extend %gen;
			margin: 0.5em 0;
			font-size: 0.8em;
		}
		//item header
		h6 {
			@extend %head-gen;
			font-size: 1em;
			color: lighten(black, 30);
			margin-bottom: 0;
			margin-top: 2em;
			@extend %gen;
		}
		//subtotal
		h5 {
			@extend %head-gen;
			color: lighten(black, 30);
			margin: 0.25em 0;
			@extend %gen;
		}
		//total
		h3 {
			@extend %head-gen;
			margin: 0.5em 0;
			@extend %gen;
		}
	}
}
