//
@import '../../../styles/imports';
$nav-padding: 0 2%;
.navbar {
	display: flex;
	position: fixed;
	z-index: 99;
	@include desktop {
		display: inline-flex;
	}

	width: 100%;
	background-color: $secondaryColor;
	justify-content: space-between;
	height: 10vh;
	min-height: 50px;
	align-items: center;
	max-width: 100vw;
	box-sizing: border-box;
	overflow-x: hidden;
	letter-spacing: 2px;

	.navbrand {
		padding: $nav-padding;
		flex: 1;
		color: white;

		a {
			cursor: pointer;
			@include btn-text-unselect;
			font-size: 1.6em;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: -5px;
		}
	}

	.navRight {
		display: flex;
		@include tab {
			padding: $nav-padding;
		}
		height: 100%;
		align-items: center;
		justify-content: center;
		color: white;
		@include btn-text-unselect;
		text-transform: uppercase;
		padding-right: 1em;

		a {
			@include btn-text-unselect;
			padding: 1em 0.5em;
			cursor: pointer;
			border-bottom: 2px solid transparent;
			border-top: 2px solid transparent;
			margin: 0 0.5em;
			@include tab {
				margin: 0 0.8em;
			}
			transition: 0.1s;
			&:hover {
				@include desktop {
					border-bottom: 2px solid white;
				}
			}
		}
		span {
			@include flexCenter();

			height: 16px;
			width: 16px;
			border-radius: 500px;
			margin: -15px 0 0 -15px;
			background-color: white;
			color: black;
			font-size: 0.6em;
			font-weight: 800;
			padding-left: 2px;
		}
	}

	.navcollapseStraight {
		padding: $nav-padding;
		@include btn-text-unselect;
		cursor: pointer;
		transition: 0.5s;
		height: 16px;
		color: white;
	}
}

.searchIcon {
	transition: ease-in-out 5s;
	width: 15px;
}
